body{
  background: #1DF1CB url(../../assets/images/background.png) top center;
}

#auth_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#auth_image img{
  display: flex;
  justify-content: center;
  text-align: center; 
  align-items: center; 
}

.auth_Text {
  font-size: 70px;
  margin: 0;
}

.auth_input input{
  width: 1024px;
  height: 288px;
  font-size: 57px;
  text-align: center;
  border-radius: 58px;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 40px;
  background-size: 67px;
}

.auth_input #auth_text{
  background-image: url(../../assets/images/icons/user.svg);
  height: 84px;
  top: 360px;
}

.auth_input #auth_password{
  background-image: url(../../assets/images/icons/pass.svg);
  height: 84px;
  top: 462px;
}

.auth_input .auth_submit{
  color: #000;
  height: 84px;
  top: 564px;
  background: #FFE07D;
  box-shadow: -6px 15px 31px rgba(0, 0, 0, 0.5);
  border-radius: 13px;
  cursor: pointer;
}
