body{
  background: #1DF1CB url(../../assets/images/background.png) top center;
}

#authStudent_container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#authStudent_employees{
  position: fixed;
  top: 15px;
  right: 15px;
}

#authStudent_employees a{
  color: #000000;
  background-color: #FFFFFF;
  padding: 2px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

#authStudent_image{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.authStudent_Text{
  font-size: 70px;
  margin: 0;
}

.authStudent_input input{
  width: 1024px;
  height: 84px;
  font-size: 57px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 58px;
  text-align: center;
  border: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 40px;
  background-size: 67px;
}

.authStudent_input #authStudent_text{
  background-image: url(../../assets/images/icons/user.svg);
}

.authStudent_input #authStudent_password{
  background-image: url(../../assets/images/icons/pass.svg);
}

.authStudent_input .authStudent_submit{
  color: #000;
  background: #FFE07D;
  box-shadow: -6px 15px 31px rgba(0, 0, 0, 0.5);
  border-radius: 13px;
  cursor: pointer;
}

@media screen and (min-width: 720px) and (max-width: 1200px){
  #authStudent_image img{
    width: 80%;
  }

  .authStudent_Text{
    font-size: 60px;
  }

  .authStudent_input input{
    background-position: 35px;
    background-size: 60px;
    margin-top: 18px;
    margin-bottom: 8px;
    width: auto;
  }

  .authStudent_submit{
    width: 700px !important;
  }  
}  

@media screen and (max-width: 720px){
  #authStudent_container{
    min-width: 480px;
    max-width: 720px;
  }
  
  #authStudent_image img{
    width: 70%;
  }  

  .authStudent_Text{
    font-size: 50px;
  }  

  .authStudent_input input{
    background-position: 25px;
    background-size: 45px;
    margin-top: 14px;
    margin-bottom: 6px;
    font-size: 35px;
    width: 400px;
    height: 80px;
  }

  .authStudent_submit{
    width: 400px !important;
  }
}