#createStudentsF{
  width: auto;
  height: 114px;
  margin: 31px 50px;
  background-color: rgba(0, 212, 212, 0.95);
  display: flex;
  align-items: center;  
}

#createStudentsF #new{
  width: 430px;
  height:70px;
  margin-left: 55px;
  display: flex;
  justify-content: flex-start;
  background: rgba(98, 66, 66, 0.05);
}

#createStudentsF #new img{
  width: 140px;
  height:70px;
}

#createStudentsF #new span{
  line-height: 30px;
  font-size: 26px;  
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#createStudentsF #new_button{
  width: 100vw;
  margin-right: 27px;
  display: flex;  
  justify-content: flex-end;
}

#createStudentsF #new_button button{
  width: 70px;
  height: 70px;
  border-radius:35px;
  border: none;
  color: #000000;
  background: #00D4AE;
  box-shadow: 2px 3px 10px #000000;
  display: flex;  
  align-items: center;
  cursor: pointer;
}

#studentF_list{
  margin: 51px 50px;
  padding-bottom: 15px;
  background-color: rgba(0, 212, 212, 0.75);
  display: flex;  
  align-items: center;
  justify-content: center;
}

#studentF_list h2{
  font-size: 39px;
  line-height: 46px;
  display: flex;  
  align-items: center;
  justify-content: center;
}

#studentF_list fieldset{
  border: none;  
  margin: 0;
  padding: 0;
}

#studentF_list fieldset div{
  display: flex;
}

#studentF_list label{
  cursor: pointer;
  height: 30px;
  min-width: 112px;
  max-width: 245px;
  font-size: 26px;
  line-height: 30px;
  margin-left: 10px;
}

#studentF_list input{
  width: stretch;
  height: 30px;
  padding: 0 0 0 5px;
  line-height: 23px;
  font-size: 20px;
  margin-bottom: 10px;
  border: none;
}

#studentF_cpf{
  width: 208px !important;
}

#studentF_birthDate{
  width: min-content !important; 
}

.studentF_birthDate{
  width: stretch;
}

.studentF_confirmPass{
  width: stretch;
}

#studentF_input{
  margin-top: 22px;
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#studentF_input .studentF_confirm{
  width: 350px;
  height: 50px;
  font-size: 35px;
  border-radius: 153px;
  background-color: #D4EDDA;
  color: #155724;
  cursor: pointer;
}

#studentF_input .studentF_confirm:hover {
  background-color: #7df89a;
}

#studentF_input .studentF_cancel{
  width: 350px;
  height: 50px;
  font-size: 35px;
  border-radius: 153px;
  background-color: #F8D7DA;
  color: #721C24;
  cursor: pointer;
}

#studentF_input .studentF_cancel:hover {
  background-color: #fc8690;
}

@media screen and (max-width: 1140px){
  #createStudentsF #new span{
    width: 200px;
  }

  #createStudentsF #new img{
    width: 110px;
  }
  
  #studentF_list fieldset div{
    display: grid;
  }

  #studentF_cpf{
    width: stretch !important;
  }
  
  #studentF_birthDate{
    width: stretch !important; 
  }

  #studentF_input .studentF_confirm{
    width: 280px;
    height: 50px;
  }
  
  #studentF_input .studentF_cancel{
    width: 280px;
    height: 50px;
  }

  @media screen and (min-width: 720px) and (max-width: 1000px){
    #studentF_input{
      gap: 20px;
    }
    
    #studentF_input .studentF_confirm{
      width: 220px;
      height: 50px;
    }
    
    #studentF_input .studentF_cancel{
      width: 220px;
      height: 50px;
    }
  }

  @media screen and (max-width: 720px){
    #studentFContainer{
      min-width: 480px;
      max-width: stretch;
    }
  
    #createStudentsF #new{
      width: auto;
    }
  
    #createStudentsF #new span{
      display: none;
    }
  
    #createStudentsF #new img{
      width: 90px;
    }

    #studentF_list h2{
      font-size: 32px;
    }

    #studentF_input{
      flex-direction: column;
      gap: 10px;

    }

    #studentF_input .studentF_confirm{
      width: 220px;
      height: 50px;
    }
    
    #studentF_input .studentF_cancel{
      width: 220px;
      height: 50px;
    }
  }
}
