body{
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background: #1DF1CB url(../../../assets/images/books.png) top center;
}

#container{
  margin: 0 auto;
  margin-top: 120px;
}

#menu{
  background-color: rgba(0, 212, 212, 0.95);
  box-sizing: border-box;
  box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
  float: left;
  position: absolute;
  width: 260px;
  height: 100vh;
  left: 0px;
  top: 0px;
}

#main{
  position: absolute;
  top: 0px;
  left: 260px;
  width: calc(100vw - 260px);
  height: 100vh;
  overflow-y: scroll;
}

#icon-menu{
  border: 1px solid red;
  width: 214px;
  height: 101.03px;
  align-items: center;
  display: flex;
  margin: 14px 22px;
}

#icon-menu span{
  font-size: 30px;
  line-height: 36.15px;
}

#items-menu{
  display: flex;
  top: 170px;
}

#items-menu li{
  border: 1px solid red;
  list-style: none;
  width: 216px;
  margin: 16px -22px;
}

#items-menu li a{
  color: black;
  text-decoration: none;
  text-align: center;
  align-items: center;
  display: flex;
  width:133px;
  line-height: 30px;
  font-size: 26px;
}

#items-menu li img{
  height:70px;
}

#create{
  width: 947px;
  height: 114px;
  margin: 31px auto 51px auto;
  background-color: rgba(0, 212, 212, 0.95);
}

#create #new{
  border: 1px solid red;
  width: 430px;
  height:70px;
  display: flex;

}

#create #new span{
  border: 1px solid red;
  line-height: 30px;
  font-size: 26px;  
  width: 288.66px;
  text-align: center;
  align-items: center;
  display: flex;
}

#list{
  border: 1px solid red;
  width: 947px;
  margin: 31px auto 51px auto;
  background-color: rgba(0, 212, 212, 0.5);
}

table{
  width: 878px;
  height: 47px;
  left: 35px;
  top: 24px;  
  align-items: center;
  text-align: center;
}

thead{
  width: 878px;
  height: 47px;
  left: 35px;
  top: 24px;
}

tbody{
  width: 878px;
  height: 61px;
  left: 360px;
  top: 96px;
}

.title{
  width: 48px;
  height: 30px;
  left: 104px;
  top: 33px;
  font-size: 26px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  background: #D2D2D2;
}

.list{
  width: 194px;
  height: 26px;
  left: 55px;
  top: 114px;
  font-size: 26px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  background: #EAEAEA;
}