body{
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background: #1DF1CB url(../../../assets/images/books.png) top center;
}

#container{
  margin: 0 auto;
  margin-top: 120px;
}

#menu{
  background-color: rgba(0, 212, 212, 0.70);
  box-sizing: border-box;
  box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
  float: left;
  position: absolute;
  width: 260px;
  height: 100vh;
  left: 0px;
  top: 0px;
}

#main{
  position: absolute;
  top: 0px;
  left: 260px;
  width: calc(100vw - 260px);
  height: 100vh;
  overflow-y: scroll;
}

#icon-menu{
  border: 1px solid red;

  width: 214px;
  height: 101.03px;
  left: 22px;
  top: 14px;
}

#icon-menu span{
  font-size: 30px;
  line-height: 36.15px;
}

#items-menu{
  position: absolute;
}

