#createEmployeesF{
  width: auto;
  height: 114px;
  margin: 31px 50px;
  background-color: rgba(0, 212, 212, 0.95);
  display: flex;
  align-items: center;  
}

#createEmployeesF #new{
  width: 430px;
  height:70px;
  margin-left: 55px;
  display: flex;
  justify-content: flex-start;
  background: rgba(98, 66, 66, 0.05);
}

#createEmployeesF #new img{
  width: 140px;
  height:70px;
}

#createEmployeesF #new span{
  line-height: 30px;
  font-size: 26px;  
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#createEmployeesF #new_button{
  width: 100vw;
  margin-right: 27px;
  display: flex;  
  justify-content: flex-end;
}

#createEmployeesF #new_button button{
  width: 70px;
  height: 70px;
  border-radius:35px;
  border: none;
  color: #000000;
  background: #00D4AE;
  box-shadow: 2px 3px 10px #000000;
  display: flex;  
  align-items: center;
  cursor: pointer;
}

#employeeF_list{
  margin: 51px 50px;
  padding-bottom: 15px;
  background-color: rgba(0, 212, 212, 0.75);
  display: flex;  
  align-items: center;
  justify-content: center;
}

#employeeF_list h2{
  font-size: 39px;
  line-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#employeeF_list fieldset{
  border: none;
  margin: 0;
  padding: 0;
}

#employeeF_list fieldset div{
  display: flex;
}

#employeeF_list label{
  cursor: pointer;
  height: 30px;
  min-width: 112px;
  max-width: 245px;
  font-size: 26px;
  line-height: 30px;
  margin-left: 10px;
}

#employeeF_list input{
  width: stretch;
  height: 30px;
  padding: 0 0 0 5px;
  line-height: 23px;
  font-size: 20px;
  margin-bottom: 10px;
  border: none;
}

#employeeF_cpf{
  width: 170px !important;
}

#employeeF_birthDate{
  width: min-content !important;  
}

.employeeF_birthDate{
  width: stretch;
}

.employeeF_confirmPass{
  width: stretch;
}

#employeeF_input{
  margin-top: 22px;
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#employeeF_input .employeeF_confirm{
  width: 350px;
  height: 50px;
  font-size: 35px;
  border-radius: 153px ;
  background-color: #D4EDDA;
  color: #155724;
  cursor: pointer;
}

#employeeF_input .employeeF_confirm:hover {
  background-color: #5fff84;
}

#employeeF_input .employeeF_cancel{
  width: 350px;
  height: 50px;
  font-size: 35px;
  border-radius: 153px;
  background-color: #F8D7DA;
  color: #721C24;
  cursor: pointer;
}

#employeeF_input .employeeF_cancel:hover {
  background-color: #ff7c87;
}

@media screen and (max-width: 1140px){
  #createEmployeesF #new span{
    width: 200px;
  }

  #createEmployeesF #new img{
    width: 110px;
  }
  
  #employeeF_list fieldset div{
    display: grid;
  }

  #employeeF_cpf{
    width: stretch !important;
  }
  
  #employeeF_birthDate{
    width: stretch !important; 
  }

  #employeeF_input .employeeF_confirm{
    width: 280px;
    height: 50px;
  }
  
  #employeeF_input .employeeF_cancel{
    width: 280px;
    height: 50px;
  }

  @media screen and (min-width: 720px) and (max-width: 1000px){
    #employeeF_input{
      gap: 20px;
    }
    
    #employeeF_input .employeeF_confirm{
      width: 220px;
      height: 50px;
    }
    
    #employeeF_input .employeeF_cancel{
      width: 220px;
      height: 50px;
    }
  }

  @media screen and (max-width: 720px){
    #employeeFContainer{
      min-width: 480px;
      max-width: stretch;
    }
  
    #createEmployeesF #new{
      width: auto;
    }
  
    #createEmployeesF #new span{
      display: none;
    }
  
    #createEmployeesF #new img{
      width: 90px;
    }

    #employeeF_list h2{
      font-size: 32px;
    }

    #employeeF_input{
      flex-direction: column;
      gap: 10px;

    }

    #employeeF_input .employeeF_confirm{
      width: 220px;
      height: 50px;
    }
    
    #employeeF_input .employeeF_cancel{
      width: 220px;
      height: 50px;
    }
  }
}
