#createEmployeesF{
  width: 947px;
  height: 114px;
  margin: 31px auto;
  background-color: rgba(0, 212, 212, 0.95);
  display: flex;
  align-items: center;  
}

#createEmployeesF #new{
  width: 430px;
  height:70px;
  margin-left: 55px;
  display: flex;
  justify-content: flex-start;
  background: rgba(98, 66, 66, 0.05);
}

#createEmployeesF #new img{
  width: 140px;
  height:70px;
}

#createEmployeesF #new span{
  line-height: 30px;
  font-size: 26px;  
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#createEmployeesF #new_button{
  width: 100vw;
  margin-right: 27px;
  display: flex;  
  justify-content: flex-end;
}

#createEmployeesF #new_button button{
  width: 70px;
  height: 70px ;
  border-radius:35px;
  text-decoration: none;
  border: none;
  box-shadow: 2px 3px 10px #000000;
  background: #00D4AE;
  color: #000000;
  display: flex;  
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#employeeF_list{
  width: 947px;
  margin: 31px auto 51px auto;
  padding-bottom: 15px;
  background-color: rgba(0, 212, 212, 0.75);
  display: flex;  
  align-items: center;
  justify-content: center;
}

#employeeF_list h2{
  font-size: 39px;
  line-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#employeeF_list form{
  margin-left: 13px;
}

#employeeF_list fieldset{
  border: none;  
  padding: 0;
}

#employeeF_list fieldset div{
  width: 780px; 
  display: flex;
  align-items: center;
  align-content: center;  
}

#employeeF_list label{
  cursor: pointer;
  height: 30px;
  min-width: 112px;
  max-width: 245px;
  font-size: 26px;
  line-height: 30px;
  margin-left: 10px;
}

#employeeF_list input{
  width: stretch; 
  height: 30px;
  line-height: 23px;
  font-size: 20px;
  margin-bottom: 10px;
  background-color: #fff;
  border: none;  
}

#employeeF_cpf{
  width: 170px !important;
}

#employeeF_birthDate{
  width: min-content !important;  
}

.employeeF_birthDate{
  width: stretch;
}

.employeeF_confirmPass{
  width: stretch;
}

#employeeF_input{
  line-height: 41px;
  margin-top: 22px;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 32px;
}

#employeeF_input .employeeF_confirm{
  width: 350px;
  height: 50px;
  font-size: 35px;
  border-radius: 153px ;
  background-color: #D4EDDA;
  color: #155724;
  cursor: pointer;
}

#employeeF_input .employeeF_confirm:hover {
  background-color: #5fff84;
}

#employeeF_input .employeeF_cancel{
  width: 350px;
  height: 50px;
  font-size: 35px;
  border-radius: 153px;
  background-color: #F8D7DA;
  color: #721C24;
  cursor: pointer;
}

#employeeF_input .employeeF_cancel:hover {
  background-color: #ff7c87;
}