#main{
  top: 0px;
  /*width: calc(100vw - 260px);*/
  height: 100vh;
  overflow-y: scroll;
}

#createLocalities{
  width: 947px;
  height: 114px;
  margin: 31px auto;
  background-color: rgba(0, 212, 212, 0.95);
  display: flex;
  align-items: center;  
}

#createLocalities #new{
  width: 430px;
  height:70px;
  margin-left: 55px;
  display: flex;
  justify-content: flex-start;
  background: rgba(98, 66, 66, 0.05);
}

#createLocalities #new img{
  width: 140px;
  height:70px;
}

#createLocalities #new span{
  line-height: 30px;
  font-size: 26px;  
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#createLocalities #new_button{
  width: 100vw;
  margin-right: 27px;
  display: flex;  
  justify-content: flex-end;
}

#createLocalities #new_button .button{
  font-size: 67px;
  width: 70px;
  height: 70px ;
  border-radius:35px;
  text-decoration: none;
  border: none;
  box-shadow: 2px 3px 10px #000000;
  background: #00D4AE;
  color: #000000;
  display: flex;  
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#locality_list{
  width: 947px;
  margin: 31px auto 51px auto;
  background-color: rgba(0, 212, 212, 0.5);
  display: flex;  
  align-items: center;
  justify-content: center;
}

#locality_list table{
  width: 878px;
  height: 47px;
  font-size: 26px;
  line-height: 30px;
  margin: 24px;
}

#locality_list .locality_title{
  background: #D2D2D2;
}

#locality_list .locality_list{
  background: #EAEAEA;
}

#locality_list .locality_list tr img{
  margin-left: 11px;
  cursor: pointer;
}
