#createLoansF{
  width: auto;
  height: 114px;
  margin: 31px 50px;
  background-color: rgba(0, 212, 212, 0.95);
  display: flex;
  align-items: center;  
}

#createLoansF #new{
  width: 430px;
  height:70px;
  margin-left: 55px;
  display: flex;
  justify-content: flex-start;
  background: rgba(98, 66, 66, 0.05);
}

#createLoansF #new img{
  width: 140px;
  height:70px;
}

#createLoansF #new span{
  line-height: 30px;
  font-size: 26px;  
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#createLoansF #new_button{
  width: 100vw;
  margin-right: 27px;
  display: flex;  
  justify-content: flex-end;
}

#createLoansF #new_button button{
  width: 70px;
  height: 70px;
  border-radius:35px;
  border: none;
  color: #000000;
  background: #00D4AE;
  box-shadow: 2px 3px 10px #000000;
  display: flex;  
  align-items: center;
  cursor: pointer;
}

#loanF_list{
  margin: 51px 50px;
  padding-bottom: 15px;
  background-color: rgba(0, 212, 212, 0.75);
  display: flex;  
  align-items: center;
  justify-content: center;
}

#loanF_list h2{
  font-size: 39px;
  line-height: 46px;
  display: flex;  
  align-items: center;
  justify-content: center;
}

#loanF_list fieldset{
  border: none;
  margin: 0;
  padding: 0;
}

#loanF_list fieldset div{
  display: flex;
}

#loanF_list label{  
  cursor: pointer;
  height: 30px;
  min-width: 150px;
  font-size: 26px;
  line-height: 30px;
  margin-left: 10px;
}

#loanF_list input, #loanF_list select{
  width: stretch;
  height: 30px;
  padding: 0 0 0 5px;
  line-height: 23px;
  font-size: 20px;
  margin-bottom: 10px;
  border: none;
}

#loanF_dates{
  height: 60px;
}

#loanF_dates label{
  min-width: 260px !important;
}

#loanF_input{
  margin-top: 22px;
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loanF_input .loanF_confirm{
  width: 350px;
  height: 50px;
  font-size: 35px;
  border-radius: 153px;
  background-color: #D4EDDA;
  color: #155724;
  cursor: pointer;
}

#loanF_input .loanF_confirm:hover{
  background-color: #77ff97;
}

#loanF_input .loanF_cancel{
  width: 350px;
  height: 50px;
  font-size: 35px;
  border-radius: 153px;
  background-color: #F8D7DA;
  color: #721C24;
  cursor: pointer;
}

#loanF_input .loanF_cancel:hover{
  background-color: #ff7480;
}

@media screen and (max-width: 1140px){
  #createLoansF #new span{
    width: 200px;
  }

  #createLoansF #new img{
    width: 110px;
  }
  
  #loanF_list fieldset div{
    display: grid;
  }

  #loanF_dates{
    margin-bottom: 22px;
  }

  #loanF_input .loanF_confirm{
    width: 280px;
    height: 50px;
  }
  
  #loanF_input .loanF_cancel{
    width: 280px;
    height: 50px;
  }

  @media screen and (min-width: 720px) and (max-width: 1000px){
    #loanF_input{
      gap: 20px;
    }
    
    #loanF_input .loanF_confirm{
      width: 220px;
      height: 50px;
    }
    
    #loanF_input .loanF_cancel{
      width: 220px;
      height: 50px;
    }
  }

  @media screen and (max-width: 720px){
    #loanFContainer{
      min-width: 480px;
      max-width: stretch;
    }
  
    #createLoansF #new{
      width: auto;
    }
  
    #createLoansF #new span{
      display: none;
    }
  
    #createLoansF #new img{
      width: 90px;
    }

    #loanF_list h2{
      font-size: 32px;
    }

    #loanF_list input, #loanF_list select{
      padding: 0 ;
      min-width: 250px ;
    }

    #loanF_input{
      flex-direction: column;
      gap: 10px;
    }

    #loanF_input .loanF_confirm{
      width: 220px;
      height: 50px;
    }
    
    #loanF_input .loanF_cancel{
      width: 220px;
      height: 50px;
    }
  }
}
