body{
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background: #1DF1CB url(../../../assets/images/books.png) top center;
  margin: 0;
  padding: 0;
}

#menu{
  background-color: rgba(0, 212, 212, 0.95);
  box-sizing: border-box;
  box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
  float: left;
  width: 260px;
  height: 100vh;
  left: 0px;
  top: 0px;
}

#main{
  top: 0px;
  left: 260px;
  width: calc(100vw - 260px);
  height: 100vh;
  overflow-y: scroll;
}

#icon-menu{
  width: 214px;
  height: 101.03px;
  align-items: center;
  display: flex;
  margin: 14px 22px;
}

#icon-menu span{
  font-size: 30px;
  line-height: 36.15px;
}

#items-menu{
  display: flex;
  top: 170px;
}

#items-menu li{
  width: 216px;
  margin: 16px -22px;
  list-style: none;
  display: flex;
  background-color: rgba(98, 66, 66, 0.05);
}

#items-menu li a{
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width:133px;
  line-height: 30px;
  font-size: 26px;
}

#items-menu li img{
  height:70px;
}

#create{
  width: 947px;
  height: 114px;
  margin: 31px auto 51px auto;
  background-color: rgba(0, 212, 212, 0.95);
  display: flex;
  align-items: center;  
}

#create #new{
  width: 430px;
  height:70px;
  margin-left: 55px;
  display: flex;
  background: rgba(98, 66, 66, 0.05);
}

#create #new img{
  width: 141.34px;
  height:70px;
}

#create #new span{
  line-height: 30px;
  font-size: 26px;  
  width: 288.66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#create #new_button{
  width: 100vw;
  margin-right: 27px;
  display: flex;  
  justify-content: flex-end;
}

#create #new_button .button{
  font-size: 67px;
  line-height: 81px;  
  width: 70px;
  height: 70px;
  border-radius:35px;
  border: none;
  box-shadow: 2px 3px 10px #000000;
  background: #00D4AE;
  display: flex;  
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  color: #000000;
}

#student_list{
  width: 947px;
  margin: 31px auto 51px auto;
  background-color: rgba(0, 212, 212, 0.5);
  display: flex;  
  align-items: center;
  justify-content: center;
}

#student_list table{
  width: 878px;
  height: 47px;
  font-size: 26px;
  line-height: 30px;
  margin: 24px;
}

#student_list .student_title{
  background: #D2D2D2;
}

#student_list .student_list{
  background: #EAEAEA;
}

#student_list .student_list tr img{
  margin-left: 11px;
  cursor: pointer;
}
