#createAuthorsF{
  width: auto;
  height: 114px;
  margin: 31px 50px;
  background-color: rgba(0, 212, 212, 0.95);
  display: flex;
  align-items: center;  
}

#createAuthorsF #new{
  width: 430px;
  height:70px;
  margin-left: 55px;
  display: flex;
  justify-content: flex-start;
  background: rgba(98, 66, 66, 0.05);
}

#createAuthorsF #new img{
  width: 140px;
  height:70px;
}

#createAuthorsF #new span{
  line-height: 30px;
  font-size: 26px;  
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#createAuthorsF #new_button{
  width: 100vw;
  margin-right: 27px;
  display: flex;  
  justify-content: flex-end;
}

#createAuthorsF #new_button button{
  width: 70px;
  height: 70px;
  border-radius:35px;
  border: none;
  color: #000000;
  background: #00D4AE;
  box-shadow: 2px 3px 10px #000000;
  display: flex;  
  align-items: center;
  cursor: pointer;
}

#authorF_list{
  margin: 51px 50px;
  padding-bottom: 15px;
  background-color: rgba(0, 212, 212, 0.75);
  display: flex;  
  align-items: center;
  justify-content: center;
}

#authorF_list h2{
  font-size: 39px;
  line-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#authorF_list fieldset{
  border: none;  
  margin: 0;
  padding: 0;
}

#authorF_list fieldset div{
  display: flex;
}

#authorF_list label{
  cursor: pointer;
  height: 30px;
  min-width: 230px;
  font-size: 26px;
  line-height: 30px;
  margin-left: 10px;
}

#authorF_list .authorF_name{
  min-width: 100px !important;
}

#authorF_list input{
  width: stretch; 
  height: 30px;
  padding: 0 0 0 5px;
  line-height: 23px;
  font-size: 20px;
  margin-bottom: 10px;
  border: none;  
}

#authorF_input{
  margin-top: 22px;
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#authorF_input .authorF_confirm{
  width: 350px;
  height: 50px;
  font-size: 35px;
  border-radius: 153px ;
  background-color: #D4EDDA;
  color: #155724;
  cursor: pointer;
}

#authorF_input .authorF_confirm:hover{
  background-color: #85ffa2;
}

#authorF_input .authorF_cancel{
  width: 350px;
  height: 50px;
  font-size: 35px;
  border-radius: 153px;
  background-color: #F8D7DA;
  color: #721C24;
  cursor: pointer;
}

#authorF_input .authorF_cancel:hover{
  background-color: #ff808a;
}

@media screen and (max-width: 1140px){
  #createAuthorsF #new span{
    width: 200px;
  }

  #createAuthorsF #new img{
    width: 110px;
  }
  
  #authorF_list fieldset div{
    display: grid;
  }

  #authorF_input .authorF_confirm{
    width: 280px;
    height: 50px;
  }
  
  #authorF_input .authorF_cancel{
    width: 280px;
    height: 50px;
  }

  @media screen and (min-width: 720px) and (max-width: 980px){
    #authorF_input{
      gap: 20px;
    }
    
    #authorF_input .authorF_confirm{
      width: 220px;
      height: 50px;
    }
    
    #authorF_input .authorF_cancel{
      width: 220px;
      height: 50px;
    }
  }

  @media screen and (max-width: 720px){
    #authorFContainer{
      min-width: 480px;
      max-width: stretch;
    }
  
    #createAuthorsF #new{
      width: auto;
    }
  
    #createAuthorsF #new span{
      display: none;
    }
  
    #createAuthorsF #new img{
      width: 90px;
    }

    #authorF_list h2{
      font-size: 32px;
    }

    #authorF_input{
      flex-direction: column;
      gap: 10px;

    }

    #authorF_input .authorF_confirm{
      width: 220px;
      height: 50px;
    }
    
    #authorF_input .authorF_cancel{
      width: 220px;
      height: 50px;
    }
  }
}
