#createLiteraryI{
  width: 947px;
  height: 114px;
  margin: 31px auto;
  background-color: rgba(0, 212, 212, 0.95);
  display: flex;
  align-items: center;  
}

#createLiteraryI #new{
  width: 430px;
  height:70px;
  margin-left: 55px;
  display: flex;
  justify-content: flex-start;
  background: rgba(98, 66, 66, 0.05);
}

#createLiteraryI #new img{
  width: 140px;
  height:70px;
}

#createLiteraryI #new span{
  line-height: 30px;
  font-size: 26px;  
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#createLiteraryI #new_button{
  width: 100vw;
  margin-right: 27px;
  display: flex;  
  justify-content: flex-end;
}

#createLiteraryI #new_button .button{
  font-size: 67px;
  width: 70px;
  height: 70px ;
  border-radius:35px;
  text-decoration: none;
  border: none;
  box-shadow: 2px 3px 10px #000000;
  background: #00D4AE;
  color: #000000;
  display: flex;  
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#literaryWorkI_list{
  width: 947px;
  margin: 31px auto 51px auto;
  padding-bottom: 15px;
  background-color: rgba(0, 212, 212, 0.75);
  display: flex;  
  align-items: center;
  justify-content: center;
}

#literaryWorkI_list h2{
  font-size: 39px;
  line-height: 46px;
  display: flex;  
  align-items: center;
  justify-content: center;
}

#literaryWorkI_list table{
  width: 878px;
  height: 47px;
  font-size: 26px;
  line-height: 30px;
  margin: 24px;
}

#literaryWorkI_list .literaryWorkI_title{
  background: #D2D2D2;
}

#literaryWorkI_list .literaryWorkI_title .capa{
  width: 200px;
}

#literaryWorkI_list .literaryWorkI_list{
  background: #EAEAEA;
}