#menu{
  width: 260px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 212, 212, 0.95);
  box-shadow: 7px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  float: left;
}

#icon-menu{
  width: 216px;
  height: 65px;
  align-items: center;
  display: flex;
  margin: 14px 22px;
}

#icon-menu span{
  font-size: 30px;
  line-height: 35px;
}

#items-menu{
  align-items: center;
  display: flex;
  width: 216px;
  margin: 50px 0 0 22px;
}

ul#navigation{
  margin: 0;
  padding: 0;
}

#items-menu li{
  width: 216px;
  margin: 16px 0 0 0;
  list-style: none;
  background-color: rgba(98, 66, 66, 0.05);
}

#items-menu li a{
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  width:133px;
  line-height: 30px;
  font-size: 26px;
}

#items-menu li img{
  height:70px;
  margin-left: -4px;
}

@media (max-width: 900px) {
  #menu{
    width: 100px;
  }

  span{
    display:none;
  }

  #icon-menu{
    width: 60px;
    margin: 14px 20px;
  }

  #items-menu{
    width: 100px;
    margin: 0;
  }
  
  #items-menu li{
    width: 80px;
    margin: 14px 0 0 10px;
  }

  #items-menu li a{
    width: 0;
  }

  #items-menu li img{
    margin-left: 0;
  }
}
