#main{
  top: 0px;
  /*width: calc(100vw - 260px);*/
  height: 100vh;
  overflow-y: scroll;
}

#createLiteraryF{
  width: 947px;
  height: 114px;
  margin: 31px auto;
  background-color: rgba(0, 212, 212, 0.95);
  display: flex;
  align-items: center;  
}

#createLiteraryF #new{
  width: 430px;
  height:70px;
  margin-left: 55px;
  display: flex;
  justify-content: flex-start;
  background: rgba(98, 66, 66, 0.05);
}

#createLiteraryF #new img{
  width: 140px;
  height:70px;
}

#createLiteraryF #new span{
  line-height: 30px;
  font-size: 26px;  
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#createLiteraryF #new_button{
  width: 100vw;
  margin-right: 27px;
  display: flex;  
  justify-content: flex-end;
}

#createLiteraryF #new_button .button{
  font-size: 67px;
  width: 70px;
  height: 70px ;
  border-radius:35px;
  text-decoration: none;
  border: none;
  box-shadow: 2px 3px 10px #000000;
  background: #00D4AE;
  color: #000000;
  display: flex;  
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#literaryWorkF_list{
  width: 947px;
  margin: 31px auto 51px auto;
  padding-bottom: 15px;
  background-color: rgba(0, 212, 212, 0.75);
  display: flex;  
  align-items: center;
  justify-content: center;
}

#literaryWorkF_list h2{
  font-size: 39px;
  line-height: 46px;
  display: flex;  
  align-items: center;
  justify-content: center;
}

#literaryWorkF_list form{
  margin-left: 13px;
}

#literaryWorkF_list fieldset{
  border: none;  
  padding: 0;
}

#literaryWorkF_list fieldset div{
  width: 780px;  
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: 8px;
}

#literaryWorkF_list label{  
  cursor: pointer;
  height: 30px;
  min-width: 90px;
  font-size: 26px;
  line-height: 30px;
  margin-left: 10px;
}

#literaryWorkF_list input{
  width: stretch;
  height: 30px;
  line-height: 23px;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #fff;
  border: none;
}

#literaryWorkF_file{
  width: min-content !important;
}

#literaryWorkF_CDD, #literaryWorkF_editionYear{
  width: 120px !important;
}

.literaryWorkF_translator, .literaryWorkF_locality{
  min-width: min-content !important;
}

.literaryWorkF_numberPage, .literaryWorkF_publication, .literaryWorkF_CDU{
  min-width: max-content !important;
}

#literaryWorkF_input{
  line-height: 41px;
  margin-top: 22px;
  border: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 32px;
}

#literaryWorkF_input .literaryWorkF_confirm{
  width: 350px;
  height: 50px;
  font-size: 35px;
  border-radius: 153px;
  background-color: #D4EDDA;
  color: #155724;
  cursor: pointer;
}

#literaryWorkF_input .literaryWorkF_confirm:hover{
  background-color: #81ff9e;
}

#literaryWorkF_input .literaryWorkF_cancel{
  width: 350px;
  height: 50px;
  font-size: 35px;
  border-radius: 153px;
  background-color: #F8D7DA;
  color: #721C24;
  cursor: pointer;
}

#literaryWorkF_input .literaryWorkF_cancel:hover{
  background-color: #ff919a;
}