#createLiteraryF{
  width: auto;
  height: 114px;
  margin: 31px 50px;
  background-color: rgba(0, 212, 212, 0.95);
  display: flex;
  align-items: center;   
}

#createLiteraryF #new{
  width: 430px;
  height:70px;
  margin-left: 55px;
  display: flex;
  justify-content: flex-start;
  background: rgba(98, 66, 66, 0.05);
}

#createLiteraryF #new img{
  width: 140px;
  height:70px;
}

#createLiteraryF #new span{
  line-height: 30px;
  font-size: 26px;  
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#createLiteraryF #new_button{
  width: 100vw;
  margin-right: 27px;
  display: flex;  
  justify-content: flex-end;
}

#createLiteraryF #new_button button{
  width: 70px;
  height: 70px;
  border-radius:35px;
  border: none;
  color: #000000;
  background: #00D4AE;
  box-shadow: 2px 3px 10px #000000;
  display: flex;  
  align-items: center;
  cursor: pointer;
}

#literaryWorkF_list{
  margin: 51px 50px;
  padding-bottom: 15px;
  background-color: rgba(0, 212, 212, 0.75);
  display: flex;  
  align-items: center;
  justify-content: center;
}

#literaryWorkF_list h2{
  font-size: 39px;
  line-height: 46px;
  display: flex;  
  align-items: center;
  justify-content: center;
}

#literaryWorkF_list fieldset{
  border: none;  
  margin: 0;
  padding: 0;
}

#literaryWorkF_list fieldset div{
  display: flex;
}

#literaryWorkF_list label{  
  cursor: pointer;
  height: 30px;
  min-width: 90px;
  font-size: 26px;
  line-height: 30px;
  margin: 0 10px 0 10px;
}

#literaryWorkF_list input{
  width: stretch;
  height: 30px;
  padding: 0 0 0 5px;
  line-height: 23px;
  font-size: 20px;
  margin-bottom: 10px;
  border: none;
}

#literaryWorkF_file{
  width: min-content !important;
}

#literaryWorkF_CDD, #literaryWorkF_editionYear{
  width: 120px !important;
}

.literaryWorkF_translator, .literaryWorkF_locality{
  min-width: min-content !important;
}

.literaryWorkF_numberPage, .literaryWorkF_publication, .literaryWorkF_CDU{
  min-width: max-content !important;
}

.literaryWorkF_img{
  margin-top: 5px;
  justify-content: center;
}

#literaryWorkF_input{
  margin-top: 22px;
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#literaryWorkF_input .literaryWorkF_confirm{
  width: 350px;
  height: 50px;
  font-size: 35px;
  border-radius: 153px;
  background-color: #D4EDDA;
  color: #155724;
  cursor: pointer;
}

#literaryWorkF_input .literaryWorkF_confirm:hover{
  background-color: #81ff9e;
}

#literaryWorkF_input .literaryWorkF_cancel{
  width: 350px;
  height: 50px;
  font-size: 35px;
  border-radius: 153px;
  background-color: #F8D7DA;
  color: #721C24;
  cursor: pointer;
}

#literaryWorkF_input .literaryWorkF_cancel:hover{
  background-color: #ff919a;
}

@media screen and (max-width: 1140px){
  #createStudentsF #new span{
    width: 200px;
  }

  #createStudentsF #new img{
    width: 110px;
  }
  
  #literaryWorkF_list fieldset div{
    display: grid;
  }
  
  #literaryWorkF_CDD, #literaryWorkF_editionYear{
    width: min-content !important;
  }

  .literaryWorkF_img{
    margin-top: 40px;
  }

  #literaryWorkF_input .literaryWorkF_confirm{
    width: 280px;
    height: 50px;
  }
  
  #literaryWorkF_input .literaryWorkF_cancel{
    width: 280px;
    height: 50px;
  }

  @media screen and (min-width: 720px) and (max-width: 1000px){
    #literaryWorkF_input{
      gap: 20px;
    }
    
    #literaryWorkF_input .literaryWorkF_confirm{
      width: 220px;
      height: 50px;
    }
    
    #literaryWorkF_input .literaryWorkF_cancel{
      width: 220px;
      height: 50px;
    }
  }

  @media screen and (max-width: 720px){
    #literaryWorkFContainer{
      min-width: 480px;
      max-width: stretch;
    }
  
    #createStudentsF #new{
      width: auto;
    }
  
    #createStudentsF #new span{
      display: none;
    }
  
    #createStudentsF #new img{
      width: 90px;
    }

    #literaryWorkF_list h2{
      font-size: 32px;
    }

    #literaryWorkF_input{
      flex-direction: column;
      gap: 10px;

    }

    #literaryWorkF_input .literaryWorkF_confirm{
      width: 220px;
      height: 50px;
    }
    
    #literaryWorkF_input .literaryWorkF_cancel{
      width: 220px;
      height: 50px;
    }
  }
}
